body{
    background-color: black;
}

header{
    background-color:  (#FFD966);
    text-align: center;
    font-size: 35px;

}

h1{
    background-color: #FFD966;
}

.estudios{
    background-color: white;
    height: 400px;
    width: 500px;
    padding:15px;
    border: 1px solid black;
    overflow: hidden;
    left: 123px;
}